<form #templateForm="ngForm" class="columnSpacing">
    <section>
        <div class="twoOnRow">
            <label for="name">Enter your profile's name</label>
            <input type="text" id="name" name="name"  required [appNameValidation]="blackListedNames" [(ngModel)]="temp.name" #name="ngModel">
        </div>
        <span *ngIf="name.errors?.['required'] && name.touched">
            Please type in a name.
        </span>
        <span *ngIf="name.errors?.['wrong']">
            Name cant be hasan.
        </span>
    </section>
    <section>
        <div class="twoOnRow">
            <label for="password">Enter your password</label>
            <input type="password" name="password" id="password" required minlength="8" [(ngModel)]="temp.password" #password="ngModel" >
        </div>
        <span *ngIf="password.errors?.['minlength'] && password.touched">
            password must be at least 8 characters. 
        </span>
    </section>
    <section>
        <div class="twoOnRow">
            <label for="email">Enter your email</label>
            <input type="email" name="email" id="email" required email [(ngModel)]="temp.email" #email="ngModel">
        </div>
        <span *ngIf="email.invalid && email.touched">
            Please enter email in the correct form. 
        </span>
    </section>
    <button type="submit">
        confirm
    </button>
</form>