/* You can add global styles to this file, and also import other style files */
.twoOnRow{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.columnSpacing{
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: aliceblue;
    padding: 20px 0 15px 10px;
}

.error{
    background-color: rgb(255, 129, 129);
    color: white;
}

button{
    width: 70px;
}

label{
    width: 165px;
}